.input-wrapper {
  position: relative;
  margin-bottom: 1rem; /* Menambahkan ruang di bawah input */
}

.input-container {
  position: relative;
}

.input {
  padding: 1rem 1rem 0.5rem; /* Menyesuaikan padding */
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}

.input:focus,
.input:not(:placeholder-shown) {
  border-color: #007bff;
}

.label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.3s, font-size 0.3s, color 0.3s;
  pointer-events: none;
  font-size: 1rem;
  color: #999;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: 0;
  font-size: 0.75rem; /* Menyesuaikan ukuran font saat label naik */
  color: #007bff; /* Menyesuaikan warna font saat label naik */
}

.input-primary {
  background-color: #fff;
  color: #333;
}

.input-outline {
  background-color: transparent;
  border-color: #ccc;
  color: #333;
}

.input:hover {
  border-color: #aaa;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
