#root {
  max-width: 1280px;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 1rem;
}

.base-input {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 20em 0;
  max-width: 190px;
  position: relative;
}

.base-input .input {
  font-size: 100%;
  padding: 0.75rem;
  outline: none;
  border: 0.1rem solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  height: 3rem;
  width: 100%;
}

.base-input .label-input {
  font-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.75rem;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}
.base-input .input::placeholder {
  color: transparent;
}

.base-input .input:focus::placeholder {
  color: rgb(100, 100, 100);
}

.base-input .input:valid::placeholder {
  color: rgb(100, 100, 100);
}

.base-input :is(.input:focus, .input:valid) ~ .label-input {
  transform: translateY(-50%) translateX(-20%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ffff;
}

.base-input :is(.input:focus, .input:valid) {
  border-color: rgb(150, 150, 200);
}
